@charset "utf-8";
/* CSS Document */
h1 {
    font-family: "Bauhaus 93";
    color: darkblue;
	font-size: 60px; 
    background-image: url(../images/nature-cloud-clouds-cloudy.jpg);
	background-size: contain; 
	opacity: inherit; 
	box-sizing: inherit;  
}

h3{ 
 }
h5{ font-family: "Bauhaus 93"; 
	Font-size: 20px; 
	background-color: darkblue; 
	color: white; 
	Background-size: inherit; 
	
	
}
h4{
    font-family: "Corbel Light";
    float: right;
    text-decoration: underline;	
}
h2 {
    font-family: "Corbel Light";
    float: right;
    text-decoration: overline;
}

h9{ font-family: "Bauhaus 93"; 
	Font-size: 35px; 
	float: middle; 

}

p1{ font-family: "Corbel Light"; 
	color:black; 

} 

h7{ font-family: "Bauhaus 93"; 
	font-size: 30px; 


}

p3{ font-family: "Corbel Light"; 
	
	color: white; 



}

.quotes{ display: block; 


}

.container{ display: flex;
	align-items:center;
	justify-content: center;
	background-color: mediumaquamarine; 


}

img { max-width:700%; 

}

.img-col{ flex-basis: 30%; 
} 
.container > div{ flex-basis: 50%; 
              float: right; 

}

h8{ font-family: "Corbel Light";
	font-size: 20px; 
	

}
