@charset "utf-8";
/* CSS Document */
h1 { font-family: "Bauhaus 93"; 
	font-size: 40px; 
	font-position: right;

}
p1 { font-family: "Corbel Light"; 
	font-size: 20px; 
	color: white; 
	 
}
.brandvaluecards { 
	
	
}